<div class="row mt-5">
    <div class="col-md-6 border">
        <h3 align="center">All Games:</h3>
        <%= render partial: 'game_list', locals: { games: @games } %>
        <%= will_paginate @games, param_name: :all_games_page, class: 'apple-pagination mx-auto my-2' %>
    </div>
    <div class="col-md-6 border">
        <h3 align="center">Open Games:</h3>
        <%= render partial: 'game_list', locals: { games: @open_games } %>
        <%= will_paginate @open_games, param_name: :open_games_page, class: 'apple-pagination mx-auto my-2' %>
    </div>
</div>