<h1><%= fa_icon('chess', class:'fa-flip-horizontal') %> Simple Chess <%= fa_icon('chess') %></h1>
<p>
    <h3>Games:</h3>
    <ul class='list-unstyled'>
        <% @games.each do |game| %>
            <li>
                <%= link_to game.name, game %>
            </li>
        <% end %>
    </ul>
</p>
