<%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <div>Choose a color:</div>
  <div>
    <input type="radio" id="white" name="color" value="white" checked>
    <label for="white">White</label>
  </div>
  <div>
    <input type="radio" id="black" name="color" value="black">
    <label for="black">Black</label>
  </div>
  <%= f.submit %>
<% end %>