<h1>Game <%= @game.name %></h1>

<div class='chess-grid mx-auto mt-5'>
  <% (0..7).each do |row| %>
    <% (0..7).each do |col| %>
      <div class='square <%= (row + col).even? ? 'white' : 'black' %>'>
        <% piece = @pieces.filter{ |p| p.x_position == col && p.y_position == row }.first %>
        <% if piece %>
          <a href='<%= piece_path(piece) %>'>
            <%= fa_icon('chess-' + piece.type.downcase, class:"piece-#{piece.color}") %>
          </a>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
