/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap";
@import "jquery-ui";
@import "font_awesome5_webfont";

a {
  &:hover, &link, &:visited, &:active {
    text-decoration: none;
  }
}

// Misc styling
.easy-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.full-size {
  height: 100%;
  width: 100%;
}

// Chess board styles
.black {
  background-color: #666;
}
.square.blueish {
  background-color: rgba(153, 153, 255, 0.5);
}
.chess-grid {
  border: 2px solid #666;
  border-radius: 2px;
  display: grid;
  font-size: 2.5rem;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  height: 500px;
  width: 500px;
}
.movable {
  cursor: pointer;
}
.piece-white {
  color: #aaa;
  a:hover, a:link, a:visited, a:active {
    color: #aaa
  }
}
.piece-black {
  color: #000;
  a:hover, a:link, a:visited, a:active {
    color: #000
  }
}
.square {
  align-items: center;
  display: flex;
  justify-content: center;
}
.square.reddish {
  background-color: rgba(255, 170, 170, 0.5);
}
.white {
  background-color: white;
}